
body {
    margin: 0;
    padding: 0;
}

.background {
    background-color: lightgray;
    min-width: 100vw;
    min-height: 100vh;
}


.image-background {
    height: 70vh;
    object-fit: fill;
    filter: blur(3px);
    z-index: 1;
    margin: 20px; 
    position: relative;
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translate(5%, -15vh); 
    overflow: hidden;
    
}



.welcome {
    width: 30%;
    z-index: 2;
    position: relative;
    background-color : rgb(206, 206, 206);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
}

.play-bar {
    width : 45%;
    height : 20vh;
    z-index: 3;
    position: relative;
    bottom: 65vh;
    left: 45vw;
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px; 
    background-color : rgb(206, 206, 206);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
}

.play-btn {
    width : 10vh;
    height : 10vh;
}

.square{ 
    width: 10vh;
    height: 10vh;
}

.board {
    position: relative;
    width : 80vh;
    height: 80vh;
    left : 10vw;
    top : 5vh;
}

.piece {
    width: 10vh;
    height: 10vh;
}


.dark-square {
    background-color: darkolivegreen;
}

.light-square {
    background-color: lightgoldenrodyellow;
}

@media screen and (max-width: 768px) { 
    .welcome {
        width: 60%; 
    }
}

@media screen and (max-width: 480px) {
    .welcome {
        width: 80%; 
    }
}
