
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7e6df!important; 
    color: #333;
}

html {
    background-color: #e7e6df;
}

body.light {
    background-color: #eeede8;
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}

.gamesum {
    background-color: #e7e6df!important; 
}
#savedgamestable th, #savedgamestable td{
    background-color: #979690;
    border-style: solid;
    border-width: 2px;
    border-color:#121212;
}
.highlight-player-move {
    background-color: rgba(255, 255, 0, 0.6) !important;
}
  
.highlight-opponent-move {
    background-color: rgba(255, 0, 0, 0.3) !important;
}

#reviewgame {
    background-color: #7b9e70;
}

#deletegame {
    background-color: #979690;
}
#holder {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 80vh;
    background-color: #e7e6df;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#top-content, #top-image {
    margin-top: 5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-top: 10vh;
}
.image-background {
    border-radius: 8px;
    width: 70%;
    height: auto;
    object-fit: cover;
}


#welcome {
    background-color: #7b9e70;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    min-height: 30%;
    max-width: 60%;
}

#playform {
    display:flex;
    flex-direction: row;
    min-width:60%;
    justify-content: space-between;
}

.play-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    min-width: 40vw;
    justify-content: space-evenly;
}

#difficulty {
    border-radius: 8px;
    background-color: #7b9e70;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    min-width:50%;
    font-size: 1.5rem;
    margin-left: 5vw;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.info-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 41vw;
    position: relative;
}

.game-info {
    font-size : 2.5vw;
    z-index: 2;
    width: auto;
    top: 5%;
    height: 10%;
    position: relative;
    background-color : rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}



.pfp {
    width: 3vw;
    height: 3vw;
}

.game {
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    background-color: #e7e6df;
    margin-top: 4vh;
}

.play-btn {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width : 15vh;
    height : 10vh;
    background-color: #b8b0a6;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

.square{ 
    width: 5vw;
    height: 5vw;
}

.board {
    position: relative;
    width : 42vw;
    height: 41vw;
}

.piece {
    width: 5vw;
    height: 5vw;
}

.table.primary-table {
    width : 50vw;
    top: 10vh;
    left: 25vw;
    position: relative;
}

.rotated {
    transform: rotate(180deg);
}

.dark-square {
    background-color: darkolivegreen;
}

.light-square {
    background-color: lightgoldenrodyellow;
}

@media (min-width: 768px) {
    #top {
        flex-direction: row;
        align-items: stretch;
    }

    #top-content, #top-image {
        width: 50vw;
        max-width: 50vw;
        height: auto;
    }

    .image-background {
        height: 100%;
    }

    .welcome {
        font-size: 2rem;
    }
    .game {
        flex-direction: row;
        height: 41vw;
    }
}


.historytable tr:hover td{
    color: blue;
    text-shadow: 0 0 10px rgb(50,50,255);
    background-color: rgb(176, 201, 212);
}

td.square:hover img{
    filter: drop-shadow(0 0 10px rgb(223, 194, 98))
}

.GO-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.GO-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
}