
body {
    margin: 0;
    padding: 0;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}

.background {
    background-color: lightgray;
    min-width: 100vw;
    min-height: 100vh;
}


.image-background {
    height: 70vh;
    object-fit: fill;
    filter: blur(3px);
    z-index: 1;
    margin: 20px; 
    position: relative;
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translate(5%, -15vh); 
    overflow: hidden;
    
}



.welcome {
    width: 30%;
    z-index: 2;
    position: relative;
    background-color : rgb(206, 206, 206);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
}

.info-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 41vw;
    position: relative;
}

.game-info {
    font-size : 2.5vw;
    z-index: 2;
    width: 100%;
    top: 5%;
    height: 10%;
    position: relative;
    background-color : rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.play-bar {
    width : 45%;
    height : 20vh;
    z-index: 3;
    position: relative;
    bottom: 65vh;
    left: 45vw;
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px; 
    background-color : rgb(206, 206, 206);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border : rgb(46, 46, 46) 5px solid;
}

.pfp {
    width: 3vw;
    height: 3vw;
}

.game {
    display: flex;
    gap: 100px;
    flex-direction: row;
    align-items: center;
    height: 41vw;
     
}

.play-btn {
    width : 10vh;
    height : 10vh;
}

.square{ 
    width: 5vw;
    height: 5vw;
}

.board {
    position: relative;
    width : 42vw;
    height: 41vw;
    left : 5vw;
    top : 5vh;
}

.piece {
    width: 5vw;
    height: 5vw;
}

.table.primary-table {
    width : 50vw;
    top: 10vh;
    left: 25vw;
    position: relative;
}


.dark-square {
    background-color: darkolivegreen;
}

.light-square {
    background-color: lightgoldenrodyellow;
}

@media screen and (max-width: 768px) { 
    .welcome {
        width: 60%; 
    }
}

@media screen and (max-width: 480px) {
    .welcome {
        width: 80%; 
    }
}

.historytable tr:hover td{
    color: blue;
    text-shadow: 0 0 10px rgb(50,50,255);
    background-color: rgb(176, 201, 212);
}

td.square:hover img{
    filter: drop-shadow(0 0 10px rgb(223, 194, 98))
}